p{
    width: 300px;
    color: blue;
    border: 20px solid red;
    border-radius: 20px;
}
.jomir{
    background-color: blue;
    width: 400px;
    height: 300px;
    padding: 50px 100px;
    margin:30px;
    border: 20px solid red;
}

.jh{
    border: 2px solid red;
    display: block;
    width: 100px;
    background-color: aqua;
    
}
.hossain{
    background-color: purple;
    padding: 30px;
}